@media (max-width: 1024px) {
  .form-input,
  .form-select {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header-nav {
    display: none;
  }

  .header-btn {
    margin-right: 7px;
    padding: 12px 35px;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .hero-content {
    max-width: 75%;
  }

  .services-items {
    flex-wrap: wrap;
  }

  .services-item {
    margin-bottom: 30px;
    width: calc(((100% - 30px)) / 2);
  }

  .services-item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .services-item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .blog-preview {
    height: 100%;
  }

  .form {
    padding: 0;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: 30px;
  }
  .clients-item {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .blog-preview-link {
    flex-direction: column;
  }

  .clients-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .clients-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients-item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap))) / 2);
  }

  .footer-item:not(:last-child) {
    margin-right: 18px;
  }
  .footer-link {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  :root {
    --gap: 15px;
  }

  .header {
    padding: 15px 0;
  }

  .header-logo {
    width: 80px;
  }

  .header-btn {
    padding: 12px 21px;
  }

  .hero {
    padding-top: calc(var(--gap) * 2);
    padding-bottom: 0;
    background-image: none;
  }

  .hero-title {
    margin-bottom: 15px;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-wrapper {
    width: 100%;
  }

  .hero-btn {
    width: 100%;
    padding: 20px 39px;
  }

  .hero-descr {
    margin-bottom: 15px;
  }

  .hero-secure {
    text-transform: uppercase;
  }

  .section-title {
    text-align: start;
    margin-bottom: 14px;
  }

  .section-offset {
    padding: 60px 0;
  }

  .services-descr {
    text-align: start;
    margin-bottom: 39px;
    line-height: 22px;
  }

  .services-items {
    margin-bottom: -20px;
  }
  .services-item {
    min-height: 222px;
    padding: 14px 16px;
    padding-bottom: 13px;
    margin-bottom: 20px;
    width: calc(((100% - 15px)) / 2);
  }

  .services-item-title {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 130%;
  }

  .services-item-icon {
    width: 42px;
    height: 42px;
    margin-bottom: 16px;
  }

  .services-item-descr {
    font-size: 12px;
  }

  .article-title {
    margin-bottom: 14px;
  }

  .articles-item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .articles-item {
    width: 100%;
    margin-bottom: 15px;
  }

  .blog-preview-link {
    flex-direction: row;
    align-items: center;
  }

  .blog-preview-image {
    flex-shrink: 0;
    width: 86px;
    height: 100%;
  }

  .blog-preview {
    min-height: 191px;
  }

  .blog-preview-text {
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .blog-preview-time {
    margin-bottom: 5px;
  }

  .blog-preview-title {
    margin-bottom: 2px;
  }

  .articles-list {
    margin-bottom: calc(-1 * var(--gap));
  }

  .clients-item {
    width: 100%;
    margin-bottom: 11px;
  }

  .clients-name {
    line-height: 120%;
  }

  .clients-list {
    margin-bottom: -15px;
  }

  .contacts-list {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: -28px;
  }

  .contacts-item {
    width: 100%;
    padding-top: 41px;
    margin-bottom: 28px;
  }

  .contacts-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .contacts-item-caption {
    margin-bottom: 10px;
  }

  .join-us-descr {
    text-align: left;
    margin-bottom: 45px;
  }

  .form-top {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .form-left {
    width: 100%;
  }

  .form-right {
    width: 100%;
  }

  .form-input {
    margin-bottom: 15px;
    padding-left: 19px;
  }

  .form-select {
    margin-bottom: 15px;
    padding-left: 15px;
  }

  .form-textarea {
    min-height: 236px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .form-bottom {
    justify-content: center;
  }

  .form-wrapper {
    width: 100%;
  }

  .form-button {
    width: 100%;
    padding: 22px 96px;
    margin-bottom: 15px;
  }

  .footer-container {
    flex-direction: column-reverse;
  }

  .footer {
    padding: 30px 0;
    padding-bottom: 0;
  }

  .footer-left {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
  }

  .footer-nav .footer-list {
    flex-wrap: wrap;
  }

  .footer-nav .footer-link {
    font-size: 15px;
    line-height: 20px;
  }

  .footer-nav {
    margin-right: 0;
    width: 100%;
    margin-bottom: 14px;
  }

  .footer-right {
    margin-bottom: 26px;
    flex-wrap: wrap;
  }

  .footer-item:not(:last-child) {
    margin-right: 32px;
  }

  .footer-nav .footer-item {
    margin-bottom: 13px;
  }

  .social {
    padding-left: 0;
  }

  .social-item:not(:last-child) {
    margin-right: 25px;
  }

  .footer-logo {
    margin-right: 0;
    margin-bottom: 28px;
    width: 80px;
  }

  .footer-copy {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 17px;
  }

  .footer-copy::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #c4c4c4;
  }
}
