@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --gap: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* header */

.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.header-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.header-link:hover {
  color: #71a7e2;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-link:active {
  color: #3172b9;
  outline: none;
}

.header-link:active::after {
  opacity: 1;
}

.header-link-home {
  color: #1c1c1c;
}

.header-link-home:hover {
  color: #71a7e2;
}

.btn {
  outline: none;
  padding: 15px 35px;
  background-color: #3172b9;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  outline-offset: 3px;
  outline: 1px solid #71a7e2;
}

.btn:hover {
  background: #71a7e2;
}

.btn:active {
  background: #0e3b6c;
}

.btn:active::after {
  opacity: 0;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

/* hero */
.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  color: #1c1c1c;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  min-width: 250px;
  padding: 20px auto;
  margin-bottom: 14px;
}

.hero-secure {
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  background-image: url(../img/herossl.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 14px 17px;
  padding-left: 27px;
}

/* services */
.services {
  border-bottom: 1px solid #e4e4e4;
}
.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - (var(--gap) * 3)) / 4);
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services-item:hover {
  border: 1px solid #3172b9;
  background-color: #3172b9;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item-icon {
  fill: #3172b9;
  margin-bottom: 25px;
  transition: fill 0.3s ease-in-out;
}

.services-item:hover .services-item-icon {
  fill: #fff;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.services-item:hover .services-item-title {
  color: #fff;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services-item:hover .services-item-descr {
  color: #fff;
}

/* articles */
.articles {
  border-bottom: 1px solid #dadada;
}
.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: calc((100% - (var(--gap) * 1)) / 2);
  margin-bottom: 30px;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.blog-preview-link:focus {
  background-color: #71a7e2;
}

.blog-preview-link:focus .blog-preview-time {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-title {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:hover {
  background-color: #3172b9;
}

.blog-preview-link:hover .blog-preview-time {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:active {
  background-color: #0e3b6c;
}

.blog-preview-link:active .blog-preview-time {
  color: #fff;
}

.blog-preview-link:active .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
  color: #fff;
}

.blog-preview-link {
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview-text {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.blog-preview-descr {
  margin: 0;
  max-width: 210px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

/* clients */
.clients {
  border-bottom: 1px solid #dadada;
}
.clients-item {
  flex-direction: column;
  width: calc((100% - (var(--gap) * 2)) / 3);
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-descr {
  max-width: 280px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  padding-top: 30px;
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
}
.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
  background-size: contain;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.clients-text {
  flex-direction: column;
}

.clients-name {
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contacts */
.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts-address {
  font-style: normal;
}

.contacts-list {
  justify-content: space-between;
}

.contacts-item {
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - (var(--gap) * 2)) / 3);
  padding-top: 48px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 17px 24px;
}

.contacts-item-address {
  background-image: url(../img/mark.svg);
}

.contacts-item-phone {
  background-image: url(../img/phone.svg);
}

.contacts-item-mail {
  background-image: url(../img/mail.svg);
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts-item-text {
  margin: 0;
  max-width: 214px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline: 1px solid #71a7e2;
}

.contacts-item-link:hover {
  color: #71a7e2;
}

.contacts-item-link:active {
  outline: none;
  color: #0e3b6c;
}

/* Join-us */
.join-us {
  border-bottom: 1px solid #dadada;
}
.join-us-title {
  text-align: center;
}

.join-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  display: flex;
  width: 49%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-right {
  width: 49%;
}

.form-input {
  margin-bottom: 19px;
  width: 251px;
  height: 60px;
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-input:focus {
  outline: none;
  border: 1px solid #71a7e2;
  background: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71a7e2;
}

.form-input:active {
  border-color: #0e3b6c;
  background: transparent;
}

.form-select {
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-select:focus {
  outline: none;
  border: 1px solid #71a7e2;
  background: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71a7e2;
}

.form-select:active {
  border-color: #0e3b6c;
  background: transparent;
}

.form-textarea {
  width: 100%;
  height: 100%;
  padding: 16px 28px;
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-textarea:focus {
  outline: none;
  border: 1px solid #71a7e2;
  background: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover {
  border-color: #71a7e2;
}

.form-textarea:active {
  border-color: #0e3b6c;
  background: transparent;
}

.form-bottom {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form-check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
  cursor: pointer;
}

.form-check input {
  margin-right: 8px;
}
/* footer */
.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  transition: color 0.3s ease-in-out;
  color: #787878;
}

.footer-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.footer-link:hover {
  color: #71a7e2;
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer-link:active {
  color: #3172b9;
  outline: none;
}

.footer-link:active::after {
  opacity: 1;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.social {
  padding-left: 50px;
}

.social-link {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link svg {
  fill: #000;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.social-link svg:hover {
  fill: #71a7e2;
}

.social-link-mail svg:hover {
  fill: transparent;
  stroke: #71a7e2;
}

.social-link svg:active {
  fill: #3172b9;
}

.social-link-mail svg:active {
  fill: transparent;
  stroke: #3172b9;
}

.burger {
  display: none;
}
